.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: Mediumaquamarine;
  justify-content: space-between;
}

#logotext {
margin: auto;
margin-left: 15px;
}

nav {
  display: flex;
}

nav a {
  color: black;
}

ul {
  margin: auto;
}

li {
  list-style: none;
  display: inline-block;
}
