.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: thin solid black;
  padding-bottom: 5px;

}

.logo {
  display: flex;
  color: Mediumaquamarine;
}

nav {
  justify-content: center;
  display: flex;
}

li {
  list-style: none;
  display: inline-block;
}

li span {
  padding: 10px;
}

#logotext {
margin: auto;
margin-left: 15px;
}

nav a {
  color: black;
}
