.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: thin solid black;
  padding-bottom: 5px;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
  }

.logo {
  display: flex;
  color: Mediumaquamarine; 
}

nav {
  justify-content: center;
  display: flex;
  margin-right: 30px;
  flex-shrink: 0;
}

li {
  list-style: none;
  display: inline-block;
}

li span {
  padding: 10px;
}

#logotext {
  margin: auto;
  margin-left: 15px;
}

nav a {
  color: black;
}

.container {
  display: flex;
  top: 56px;
  position: relative;
}

.column.large {
  width: 630px;
  margin: 20px 20px;
  flex-shrink: 0;
}

.column.medium {
  width: 300px;
  margin: 20px 20px;
  flex-shrink: 0;
}

.column.small {
  width: 240px;
  margin: 20px 20px;
  flex-shrink: 0;
}

.column.large {
  display: flex;
/* border: thin solid black; */
  flex-direction: column;
}

.large .bigbox1 {
  display: flex;
  flex-direction: column;
}

.large .storybox {
  display: flex;
}

.storybox .bigbox2, .storybox .bigbox3 {
flex-direction: column;
margin: 20px;
}

.column.medium, .column.small {
  display: flex;
/* border: thin solid black; */
  flex-direction: column;
}

.medium .bigbox1, .medium .bigbox2, .small .bigbox1, .small .bigbox2 {
  display: flex;
/*  border: thin solid black; */
  flex-direction: column;
}

.smallbox {
  display: flex;
/*  border: thin solid black; */
  flex-direction: column;
}

/* .imagediv {
  display:flex;
  align-items: flex-start;
} */

.large .bigbox1 .imagediv {
  background-image: url("../images/img-story-main.png");
  height: 300px;
}

.large .bigbox2 .imagediv {
  background-image: url("../images/img-story-2.png");
  height: 300px;
}

.large .bigbox3 .imagediv {
  background-image: url("../images/img-story-3.png");
  height: 300px;
}

.medium .bigbox2 .imagediv {
  background-image: url("../images/img-story-1.png");
  height: 300px;
}

.imagetext.main {
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 text-align: left;
 margin-top: 0px;
}

.imagetext {
font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 text-align: center;
 margin-top: 0px;
}

.story.main {
  font-family: Georgia;
  font-size: 17px;
  color: black;

}
.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#newsbitesTitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.newsbites {
  display: flex;
  flex-direction: column;
}

.newsbites p {
background-color: WhiteSmoke;
font-family: Verdana;
font-size: 12px;
color: DimGray;
margin: 0px;
border-bottom: 1px solid black;
padding: 10px 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  height: 300px;
  align-items: center;
  justify-content: center;
  top: 56px;
  position: relative;

}

.footerline1 {
  display: flex;
}

.footerTitle {
  font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 border-right: medium solid white;
 padding-right: 25px;
}

.footer li a, .copyright {
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  color: black;
}
